
@import './colors.less';
@import './nav.less';
@import './search-bar.less';
@import './movie.less';
@import './movie-detail.less';

body{
    margin: 0;
    padding-top: 100px;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

