    .movie-info{
        width: 90%;
        overflow: hidden;
        padding: 0;
        overflow: hidden;
        max-height: 600px;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid @border;
        border-radius: 10px;
        box-shadow: 2px 4px 8px @text-color;

        &:hover{
            box-shadow: 4px 6px 10px @text-color;
        }

        .fav-btn{
            margin: 0 auto;
        }

        .title{
            font-size: 20px;
            color: @text-color;
        }
        .poster{
            width: 100%;
            margin: 0 auto;
        }

        .genres{
            margin: auto;
            p{
                float: left;
                margin-left:5px;
                padding: 5px;
                background-color: @main-violet;
                color: @bg-white;
                border-radius: 10px; 
            }
        }
    }