.recommendations{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    width: 85%;
    margin: 40px auto;
    h3{color: #000;}
    .single{
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        h5{
            width: 100%;
            max-height: 40px;
            font-size: 20px;
            text-align: center;
        }
        img{
            width: 100%;
            margin: 0 auto;
            padding: 10px;
        }
    }
}