.recommendations{
    background-color: @bg-white;
    padding: 20px;
    border: 1px solid @border;
    overflow: hidden;
    width: 85%;
    margin: 40px auto;
    h3{color: @text-color; margin: 20px;}
    
    .single{
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        height: 150px;
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        cursor: pointer;
        border-bottom: 1px solid @border; 
        
        &:hover{
            background-color: @aliceblue; 
        }
        h5{
            font-size: 25px;
            font-weight: bold;
            width: 80%;
            color: @text-color;
        }
        img{
            height: 100px;
            width: 10%;
        }
    }
}


@media screen and (max-width: 900px){
   .recommendations h3{
       font-size: 20px;
   }
    .recommendations .single{
        margin: auto;
    }
    .recommendations .single h5 {
        font-size: 15px;
        width: 40%;
    }
    .recommendations .single img {
        width: 20%;
    }
}